*{
	margin: 0;
	padding: 0;
}

body{
	background: #FFAA00;
}

h1{
	text-align: center;
	top: 40px;
	position: relative;
	color: #00A000;
}

#hamburger{
	width: 530px;
	height: 275px;
	left: 390px;
	top: 120px;
	position: absolute;
}

p {
	font-size: 30px;
	top: 420px;
	position: absolute;
}

#hamburger_ingredients {
	font-size: 30px;
	top: 500px;
	left: 20px;
	position: relative;
}

ul{
	top: 600px;
	left: 30px;
	font-size: 22px;
	position: absolute;
}

ol{
	top: 800px;
	left: 30px;
	font-size: 22px;
	position: absolute;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}