*{
	margin: 0;
	padding: 0;
}

body{
	background: #FFAA00;
}

h1{
	text-align: center;
	top: 40px;
	position: relative;
	color: #00A000;
}

#hamburger{
	width: 530px;
	height: 275px;
	left: 390px;
	top: 120px;
	position: absolute;
}

p {
	font-size: 30px;
	top: 420px;
	position: absolute;
}

h3 {
	font-size: 30px;
	top: 400px;
	position: relative;
}

ul{
	top: 450px;
	font-size: 15px;
	position: absolute;
}