*{
	margin: 0;
	padding: 0;
}

body{
	background: pink;
}

h1{
	text-align: center;
	font-size: 60px;
	margin: 30px;
	padding: 24px;
	color: #FF0000;
	position: relative;
}

#pizza{
	width: 200px;
	height: 340px;
	left: 100px;
	position: relative;
	margin: 120px;
	padding: 23px;
}

#description_pizza{
	top: 90px;
	font-size: 30px;
	position: relative;
}

#ingredients_pizza{
	top: 130px;
	left: 30px;
	font-size: 40px;
	margin: 40px;
	padding: 30px;
	position: relative;
	color: darkgreen;
	background: lightblue;
}

ul{
	left: 40px;
	top: 90px;
	font-size: 25px;
	position: relative;
	margin-left: 30px;
	margin-bottom: 30px;
	padding: 30px;
	background: lightblue;
	color: #4413DD;
}

#pizza_directions{
	top: 250px;
	text-align: center;
	font-size: 70px;
	color: darkgreen;
	position: relative;
}

ol{
	left: 80px;
	top: 300px;
	margin: 40px;
	padding: 30px;
	font-size: 25px;
	position: relative;
	color: #4413DD;
	background: darkorange;
}