*{
	margin: 0;
	padding: 0;
}

body{
	background: #00A2FF;
	font-family: Merriweather;
}

h1{
	text-align: center;
	color: red;
	font-size: 34px;
	
}

li{
	text-align: center;
	top: 130px;
	position: relative;
}