*{
	margin: 0;
	padding: 0;
}

body{
	background: #00A2FF;
	font-family: Merriweather;
}

h1{
	text-align: center;
	color: red;
	font-size: 34px;
	margin: 40px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 8px;
	padding-right: 8px;
	position: relative;
	background-color: greenyellow;
}

li{
	text-align: justify;
	top: 130px;
	font-size: 30px;
	margin: 50px;
	background-color: gray;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

