*{
	margin: 0;
	padding: 0;
}

body{
	background: green;
}

h1{
	text-align: center;
	position: relative;
}

#tacos_pastor{
	 width: 495px; 
	 height: 370px;
	 position: absolute;
	 left: 420px;
	 top: 60px;

}

#tacos_description{
	top: 500px;
	font-size: 20px;
	position: absolute;
}

.ingredients{
	top: 520px;
	left: 20px;
	font-size: 22px;
	position: relative;
}

.directions{
	top: 580px;
	left: 30px;
	font-size: 22px;
	position: relative;
}

ul{
	top: 540px;
	left: 40px;
	font-size: 20px;
	position: relative;
}

ol{
	top: 600px;
	left: 40px;
	font-size: 20px;
	position: relative;
}

.garnish{
	font-size: 22px;
	position: relative;
}